// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-top{
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  img{
    width: 100%;
    margin: 20px auto;
  }
  h3{
    color: rgba(10, 189, 227,1.0);
    font-weight: bold;
    font-size: 1.5em;
  }
  .date{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
  }
}
.content-mid{
  overflow: hidden;
  margin: 40px auto;
  .banner-mid{
    background-color: rgba(10, 189, 227,1.0);
    background-image: linear-gradient(225deg, rgba(10, 189, 227,1.0) 0%, #2AF598 100%);
    padding: 4em;
    margin: 40px 0 40px -10px;
    width: 100%;
    color: #FFF;
    transform: rotate(-4deg);
    h2{
      text-transform: uppercase;
      text-align: left;
      font-family: 'Hind', cursive;
      font-size: 2em;
    }
  }
}

.wrapper-inner{
  box-shadow: 0 0 18px 3px #DDD;
  padding: 10px;
  margin-bottom: 2em;
  input{
    min-width: 90%;
    height: 2em;
  }
  textarea{
    width: 90%;
    min-height: 100px;
    margin: 10px auto;
    border: solid 1px #DDD;
  }
  .button{
    input{
      background-color: rgba(10, 189, 227,1.0);
      color: #FFF;
      font-size: 1em;
      border-radius: 4px;
      min-width: auto;
      padding: 4px 10px;
      margin-bottom: 20px;
    }
    input:hover{
      background-color: rgba(10, 189, 227,0.7);
    }
  }
}
.content-low{
  padding-top: 2em 0;
  min-height: 50vh;
  .wrapper{
    width: 90%;
    .article-comments{
      padding: 2em 0;
      .article-comments-name{
        font-weight: bold;
        text-align: left;
      }
      .article-comments-p{
        padding: 10px;
        text-align: left;
        border: 1px solid #EEE;
      }
    }
  }
}
