// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-comment{
  display: flex;
  height: 70px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .profil-img{
    width: 60px;
    margin: 0 10px 0 5%;

  }
  p{
    margin: 0;
  }
}
