// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
  display: flex;
  margin: auto;
  background-color: rgba(10, 189, 227,.9);
  color: #EEE;
  text-align: left;
  height: 5vh;
  .logo{
    flex: 1;
    margin: auto;
    padding-left: 10px;
    a{
      color: #EEE;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid #FFF;
      padding: 0 10px;
    }
  }
  ul{
    flex: 1;
    margin: auto;
    text-align: right;
    padding-right: 10px;
  }
  li{
    display: inline;
  }
}

.welcome{
  // background-image: url('https://images.pexels.com/photos/594388/vinyl-record-player-retro-594388.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  // background-size: cover;
  // background-position: center;
  // height: 90vh;
  ul{
    background-color: rgba(10, 189, 227,.5);
    width: 100%;
    display: flex;
    padding: 20px 0;

    li{
      padding: 5px 10px;
      margin: auto;
      text-align: center;
    }
    a{
      color: #FFF;
      background-color: rgba(10, 189, 227,1);
      padding: 5px 10px;
    }
  }
}
.main-post{
  width: 100%;
  .post-header{
    width: 60%;
    margin: 20px auto;
    color: rgba(10, 189, 227,1);
    p{
      color: #888;
    }
  }
  .post{
    background-color: rgba(150, 160, 250, .1);
    display: flex;
    flex-direction: column;
    width: 90vh;
    margin: 10px auto 30px auto;
    img{
      width: 100%;
      margin:auto;
    }
    h3{
      font-family: 'Galada', cursive;
      color: rgba(10, 189, 227,1);
      font-weight: bold;
      font-size: 1.5em;
      padding-left: 10px;
    }
    p{
      background-color: rgba(150, 160, 250, .1);
      padding: 10px;
    }
  }
}
/* device */
.device-main{
  height: 90vh;
  text-align: center;
  h2{
    font-family: 'Galada', cursive;
    padding-top: 80px;
  }
  a{
    font-size: 1em;
    color: #999;
  }
  a:hover{
    color: #000;
  }
  form{
    box-shadow: 0 0 27px 2px #AAA;
    margin: 30px auto;
    text-align: center;
    width: 60%;
    padding: 2em;
    input{
      width: 90%;
      height: 2em;
    }
    .actions{
      input{
        background-color: rgba(10, 189, 227,1);
        color: #FFF;
        font-family: 'Galada';
        border: none;
      }
    }
  }
}
